.contact{
  background-color: #E89951;
  padding: 50px;
  width: fit-content;
  margin: 100PX auto ;
  border-radius: 10%;
}
.contact h3{
  text-align: center;
  margin-bottom: 30px;
  font-size: medium;
}

.champ {
  display: flex;
  gap: 12px; 
  margin-bottom: 16px;
}

.champ label {
  width: 80px; 
  color: #000000;
}

.champ input {
  flex: 1;
  padding:10px;
}

.champ textarea{
  flex:1;
  padding: 10px; 
  min-height: 120px;
}







